<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Riddle-Me-This</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" type="text/css" media="screen" href="static/css/styles.css" />
    </head>
    <body>
        <header class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-lg-3 min-height-header">
                    <div class="row">
                        <div class="logo">
                            <div class="navbar navbar-default restrict-size">
                                <div class="container-fluid">
                                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                                        Menu
                                    </button>
                                    <div class="collapse navbar-collapse navHeaderCollapse">
                                        <ul class="nav navbar-nav navbar-left navbar-main">
                                            {% if not(app_info["route"] == "index") %}
                                                <li class="nav-item active"><a class="nav-link scroll" href="/" id="home">Home</a></li>
                                            {% endif %}
                                            {% if app_info["logged"] and not(app_info["route"] == "user") %}
                                                <li class="nav-item"><a class="nav-link scroll" href="/user" id="userNav">USER</a></li>
                                            {% endif %}
                                            {% if app_info["logged"] and app_info["game"] and not(app_info["route"] == "game") %}
                                                <li class="nav-item"><a class="nav-link scroll" href="/game" id="gameNav">CURRENT GAME</a></li>
                                            {% endif %}
                                            {% if not(app_info["route"] == "halloffame") %}
                                                <li class="nav-item"><a class="nav-link scroll" href="/halloffame" id="hofNav">Hall of Fame</a></li>
                                            {% endif %}
                                            {% if not(app_info["route"] == "about") %}
                                                <li class="nav-item"><a class="nav-link scroll" href="/about" id="aboutNav">About</a></li>
                                            {% endif %}
                                            {% if not(app_info["route"] == "contact") %}
                                                <li class="nav-item"><a class="nav-link scroll" href="/contact" id="contactNav">Contact</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div> 
                            <!-- Registration Login Form-->
                            {%if app_info["logged"] %}
                                <form class="align-right" method="POST" action="/logout">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default form-align" name="logout" type="submit" value="logout">Logout</button>
                                    </div>
                                </form>
                            {% elif not app_info["logged"] %}
                                <form class="align-right" method="POST" action="/">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-username form-align" name="username" id="username" placeholder="username">
                                        <button type="submit" class="btn btn-default form-align" name="login" type="submit" value="login" alt="login">Login</button>
                                        <button type="submit" class="btn btn-default form-align" name="register" type="submit" value="register">Register</button>
                                    </div>
                                </form>
                            {% endif %}
                            <img class="img-responsive" src="static/img/guess.png" alt="logo image"></img>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-8 col-lg-9 title min-height-header">
                    <h1>Riddle Me This</h1>
                    <h2>A Guessing Game</h2>
                </div>
            </div>
        </header>
    
        <section class="container">
            <div class="row main">
                <p>User: {{ app_info["username"] }}</p>
                <p>All users: {{ app_info["allusers"] }}</p>
                <p>Logged: {{ app_info["logged"] }}</p>
                <p>Game on: {{ app_info["game"] }}</p>
                <p>Attempt: {{ attempt }}</p>
                <p>Riddle: {{ riddle_counter }}  -- Will be out of 10 in the real game</p>
                <div class="col-md-6  min-height-main">
                    <div class="row">
                        <div class="col-md-6"><h3 class="game_title">{{ app_info["username"] }}</h3></div>
                        <div class="col-md-6"><p class="game_text">Riddle {{ riddle_counter }} of 10</p></div>
                    </div>
                    <div class="list_games game_image">
                        <img class="img-responsive" src="static/img/{{ current_riddle[1] }}" alt="riddle image"></img>
                    </div>
                    <div class="game_instruction">
                        <p>Type your answer and press Submit button. Otherwise Pass.</p>
                    </div>
                </div>
                
                <!-- Will be needed in the pages which split in two columns -->
                <div class="col-md-6  min-height-main">
                    <div class="row">
                        <div class="col col-md-10 col-md-offset-1">
                            <p class="game_text">Points: {{ gained_points }}</p>
                            <p class="game_text
                            {% if attempt > 1 %} 
                            red 
                            {% endif %}">First attempt: {{ points }} points</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-10 col-md-offset-1">
                            
                            <!-- SPLIT THE FORM-->
                            <!-- ATTEMPT = 1 -->
                            {% if attempt == 1 %}
                                <form class="play_game" method="POST" action="/game1">
                                    <div class="form-group">
                                        <div class="row text-area">
                                            <textarea class="form-control" name="answer_text" rows="10" id="answer_block" placeholder="type your answer here"></textarea>
                                        </div>
                                        <div class="row">
                                            <button type="submit" class="btn btn-default form-align btn-answer-width" name="answer_btn" type="submit" value="answer" alt="Submit Answer">Submit Answer</button>
                                            <button type="submit" class="btn btn-default form-align btn-pass-width" name="pass_btn" type="submit" alt="Pass" value="pass">Pass</button>
                                        </div>
                                    </div>
                                </form>
                            
                            <!-- ATTEMPT = 2 -->
                            {% elif attempt == 2 %}
                                <form class="play_game red" method="POST" action="/game2">
                                    <div class="form-group">
                                        <div class="row text-area">
                                            {% set words = (current_riddle[2]).split() %}
                                            {% set word_count = words|count %}
                                            {% for word in words %}
                                                <div class="row">
                                                    <div class="col-xs-2 col-sm-3"><label>Word {{ loop.index }}</label></div>
                                                    <div class="col-xs-10 col-sm-9">
                                                        <textarea class="form-control" name="answer_text{{ loop.index }}" rows="1" id="answer_block{{ loop.index }}" placeholder="type your answer here"></textarea>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            
                                            <div class="row 
                                                {% if word_count == 1 %}
                                                    bottom-1
                                                {% elif word_count == 2 %}
                                                    bottom-2
                                                {% elif word_count == 3 %}
                                                    bottom-3
                                                {% elif word_count == 4 %}
                                                    bottom-4
                                                {% endif %}">
                                                <div class="red yellow-bg">
                                                    <p>Place for your previous wrong answer.</p>
                                                </div>
                                                <p>The answer for this riddle has {{ word_count }} 
                                                {% if (word_count) == 1 %}
                                                    word.
                                                {% elif (word_count) > 1 %}
                                                    words.
                                                {% endif %}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button type="submit" class="btn btn-default form-align btn-answer-width" name="answer_btn" type="submit" value="answer" alt="Submit Answer">Submit Answer</button>
                                            <button type="submit" class="btn btn-default form-align btn-pass-width" name="pass_btn" type="submit" alt="Pass" value="pass">Pass</button>
                                        </div>
                                    </div>
                                </form>
                            
                            <!-- ATTEMPT = 2 -->
                            {% elif attempt == 3 %}
                                <form class="play_game red" method="POST" action="/game3">
                                    <div class="form-group">
                                        <div class="row text-area">
                                            {% set words = (current_riddle[2]).split() %}
                                            {% set word_count = words|count %}
                                            {% for word in words %}
                                                <div class="row">
                                                    <div class="col-xs-2 col-sm-3"><label>Word {{ loop.index }}</label></div>
                                                    <div class="col-xs-9 col-sm-8">
                                                        <textarea class="form-control" name="answer_text" rows="1" id="answer_block{{ loop.index }}" placeholder="type your answer here"></textarea>
                                                    </div>
                                                    <div class="col-xs-1 col-sm-1"><label>
                                                        {% set length = word|length %}
                                                        {{ length }}
                                                    </label></div>
                                                </div>
                                            {% endfor %}
                                            
                                            <div class="row 
                                                {% if word_count == 1 %}
                                                    bottom-1
                                                {% elif word_count == 2 %}
                                                    bottom-2
                                                {% elif word_count == 3 %}
                                                    bottom-3
                                                {% elif word_count == 4 %}
                                                    bottom-4
                                                {% endif %}">
                                                <div class="red yellow-bg">
                                                    <p>Place for your previous wrong answer.</p>
                                                </div>
                                                <p>The answer for this riddle has {{ word_count }} 
                                                {% if (word_count) == 1 %}
                                                    word.
                                                {% elif (word_count) > 1 %}
                                                    words.
                                                {% endif %} <br>See the indicated number of letters.</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button type="submit" class="btn btn-default form-align btn-answer-width" name="answer_btn" type="submit" value="answer" alt="Submit Answer">Submit Answer</button>
                                            <button type="submit" class="btn btn-default form-align btn-pass-width" name="pass_btn" type="submit" alt="Pass" value="pass">Pass</button>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- BELOW HERE IS DEBUGGING CODE -->
            <!-- Will be removed at the end -->
            
            
            <!--<h3>All_Riddles</h3>-->
            <!--{#{ all_riddles }}-->
            <!--<h3>Current_Game</h3>-->
            <!--{{ current_game }}-->
            <!--<h3>Orderd Data</h3>-->
            <!--{{ ordered_data }#}-->
            <!--<div class="row">-->
            <!--    <table class="table">-->
                    <!--<thead>-->
                    <!--    <th>ID</th>-->
                    <!--    <th>Answer</th>-->
                    <!--    <th>Source</th>-->
                    <!--</thead>-->
                <!--    {#% for riddle in all_riddles %}-->
                <!--        <tr>-->
                <!--            <td>{{ riddle["id"] }}</td>-->
                <!--            <td>{{ riddle["answer"] }}</td>-->
                <!--            <td>{{ riddle["source"] }}</td>-->
                <!--        </tr>-->
                <!--    {% endfor %#}-->
                <!--</table>-->
                <!--<h2>Current game</h2>-->
                {#{ current_game }#}
                
                <!--<table class="table">-->
                <!--    <thead>-->
                <!--        <th>ID</th>-->
                <!--        <th>Answer</th>-->
                <!--        <th>Source</th>-->
                <!--    </thead>-->
                <!--    {#% for data in current_game %#}-->
                <!--        <tr>-->
                <!--            <td>{#{ data[2][1] }#}</td>-->
                <!--            <td>{#{ data[0][1] }#}</td>-->
                <!--            <td>{#{ data[1][1] }#}</td>-->
                <!--        </tr>-->
                <!--    {#% endfor %#}-->
                <!--</table>-->
                
                <!--<h2>Current Riddle {#{ riddle_counter }}</h2>-->
                <!--{{ current_riddle }#}-->
                <!--<ul>-->
                <!--    {% for info in current_riddle %}-->
                <!--        <li>{#{ info[1] }#}</li>-->
                <!--    {% endfor %}-->
                <!--</ul>-->
                
                <!--<p>{#{ current_riddle[1] }}</p>-->
                <!--<p>{{ current_riddle[0] }#}</p>-->
                
                {#% set words = "" %#}
                {#% set word1, word2, word3, word4 = current_riddle[2] %}#
                {#% if word1.len() > 0 %#}
                    <!--words.append(word1 + " ")-->
                {#% endif %#}
                {#% for word in (current_riddle[0][1]).split() %#}
                {#% for word in (words).split() %#}
                {#% for word in current_riddle[2].split() %#}
                    <p>{#{ loop.index }} {{ word }#}</p>
                {#% endfor %#}

            </div>
        </section>
        
        <footer class="container-fluid">
            <div class="row">
        
                <div class="col-sm-6 col-md-4 col-md-offset-2 copyright min-height-footer">
                    <p>Copyright &copy; 2018, Anthony Bonello</p>
                </div>
        
                <div class="col-sm-6 col-md-4 links min-height-footer">
                    <ul class="list-inline social-links">
                        <li><a href = "https://github.com/abonello/riddle-game-app" target = "_blank"><i class="fa fa-github"></i> Github Repository</a></li>
                        <li><a href = "https://www.linkedin.com/in/anthonybonello/" target = "_blank"><i class="fa fa-linkedin"></i> My Linkedin</a></li>
                    </ul>
                </div>
        
            </div>
        </footer>
    
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- <script src="main.js"></script> -->
    </body>
</html>