{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <!--<p>User: {{ app_info["username"] }}</p>-->
        <!--<p>All users: {{ app_info["allusers"] }}</p>-->
        <!--<p>Logged: {{ app_info["logged"] }}</p>-->
        <div class="col-md-12 main min-height-main">
            <h3>Register</h3>

            <p>This is the milestone project that I am building for the “Practical Python” stream, 
            part of the New LMS in the “Full Stack Web Development Course” offered by Code Institute.</p>
            
            <!-- Registration Login Form-->
            <form class="registration" method="POST" action="/register">
                <div class="form-group">
                    <input type="text" class="form-control form-username form-align" name="username" id="username" placeholder="username" value={{ app_info["username"] }}>
                    <button type="submit" class="btn btn-default form-align {{ app_info["check_active"] }}" name="check" type="submit" value="login">Check Username Available</button>
                </div>
                <div class="red">{{ username_feedback }}</div>
                <button type="submit" class="btn btn-default form-align btn-width {{ app_info["register_active"] }}" name="{{  app_info["register"]  }}" type="submit" value="register">Register</button>
            </form>
        </div>
    </div>
{% endblock %}