{% extends 'base.html' %}
{% block content %}
    <div class="row main">
        <!--<p>User: {{ app_info["username"] }}</p>-->
        <!--<p>All users: {{ app_info["allusers"] }}</p>-->
        <!--<p>Logged: {{ app_info["logged"] }}</p>-->
        <!--<p>Game on: {{ app_info["game"] }}</p>-->
        <!--<p>Attempt: {{ attempt }}</p>-->
        <!--<p>User_data: {{ user_data }}</p>-->
        <!--<p>Gainded points: {{ gained_points }}</p>-->
        <h3>Welcome {{ app_info["username"] }}</h3>
            <p>This is a guessing game, which will be part of my protfolio.</p>
            <p>This will be the hall of fame page. It will contain two tables with two 
            halls of fame.</p>
            <hr>
            <p>This is the page for a {{ app_info["username"] }}. It will hold information about
            the latest games and a button to start a new game.</p>
            
            <!-- Flash the points gained for game just played -->
            {% with messages = get_flashed_messages() %}
                {% if messages %} <!-- Process if there are any messages  -->
                    {% for message in messages %}  <!-- Loop through messages and process them -->
                        <h3 class="red">Points Gained in the game just played: {{ message }}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <p>You have played {{ user_data["number_of_games"] }} games up to now.
            {% if user_data["number_of_games"] > 0 %}
            <br>Your best game was on {{ user_data["date_best_game"] }} and you gained
            {{ user_data["points_best_game"] }} Points.
            {% endif %}
            <br>Your total number of points over all the games played is 
            {{ user_data["total_user_points"] }} Points.</p>
        <div class="col-md-6  min-height-main">
            <div class="list_games table-responsive">
                <table class="table table-condensed table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Date</td>
                            <th scope="col">Points</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in user_data["games_played"] %}
                            <tr>
                                <th scope="row">{{ item[0] }}</td>
                                <td>{{ item[1] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Will be needed in the pages which split in two columns -->
        <div class="col-md-6  min-height-main">
            <div class="row start_game">
                <div class="col-md-8 col-md-offset-2">
                    <form class="play_game" method="POST" action="/game">
                        <div class="form-group">
                            <button type="submit" class="btn btn-default play_btn" name="play" type="submit" value="play">Play a game</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> 

    </div>
{% endblock %}